.game {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 660px;
    height: 660px;
    flex-grow: 1;

 
}
.container {
    display: flex;
    flex-wrap: wrap;
    outline: 1px solid black;
    width: 32em;
    height: 32em;

    
}

.row {
    display: flex;
    outline: 1px solid black;
 


}

.cell {
    outline: 1px solid black;
 

}


.colourMode {
    background-color: #000;
}