.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    outline: 1px solid black;
    width: 32em;
    height: 32em;

    
}

.row {
    display: flex;
    outline: 1px solid black;
 


}

.cell {
    outline: 1px solid black;
    width: 2em;
    height: 2em;



}