.body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {

    outline: 1px solid black;
    width: 32em;
    height: 32em;

    
}

.row {
    display: flex;
    outline: 1px solid black;
 


}

.cell {
    outline: 1px solid black;
    width: 2em;
    height: 2em;

}


.colourMode {
    background-color: #000;
}